Repository eco-ssot/eco-ssot.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:image, setup

build:image:
  stage: build:image
  image: docker:19.03.8
  services:
  - docker:19.03.8-dind
  before_script:
  - echo "$SSOT_USER_TOKEN" | docker login -u $SSOT_USER_NAME --password-stdin $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:latest || true
  ...

setup:
  stage: setup
  script:
  - yarn install --network-timeout 1000000
  dependencies: []

add build stage
  .gitlab-ci.yml
  Dockerfile
Due: build:image

fix sha image
  .gitlab-ci.yml
Due: none

fix ci changes
  .gitlab-ci.yml
Due: none

fix dockerignore
  .dockerignore
  .gitlab-ci.yml
Due: none

move testing to dev deps
  package.json
  yarn.lock
Due: setup

add envs
  .env.development
  .env.production
  src/axios/index.js
  src/axios/interceptors.js
  src/constants/app-config.js
  src/environments/environment.js
  src/pages/home/Carbon.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/HomePage.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
  src/pages/home/helpers.js
  src/utils/formatter.js
Due: none

push to harbor
  .gitlab-ci.yml
Due: none

add error notification
  .env
  .env.development
  .env.production
  .gitlab-ci.yml
  src/app/App.jsx
  src/app/store.js
  src/axios/index.js
  src/axios/interceptors.js
  src/components/layout/Layout.jsx
  src/components/notification/Notification.jsx
  src/renderless/error-handler/ErrorHandler.jsx
  src/renderless/error-handler/errorHandlerSlice.js
Due: none

rename services
  .env.production
  src/app/store.js
  src/services/carbon.js
  src/services/electricity.js
  src/services/overall.js
  src/services/pokemon.js
  src/services/unitElectricity.js
  src/utils/formatter.js
Due: none

add management page
  src/__mocks__/get/summary/business=ALL.json
  src/__mocks__/get/summary/business=WSD.json
  src/__mocks__/get/summary/business=WT&compareYear=2020.json
  src/__mocks__/get/summary/business=WT.json
  src/__mocks__/get/summary/compareYear=2020.json
  src/charts/Chart.jsx
  src/pages/home/HomePage.jsx
  src/pages/management/ManagementPage.jsx
  src/renderless/query-params/queryParamsSlice.js
  src/router/routes.js
Due: none

add tab title
  src/app/App.jsx
  src/renderless/tab-title/TabTitle.jsx
Due: none

add management page
  package.json
  src/__mocks__/get/overall/index.json
  src/components/button/Button.jsx
  src/components/button/IconButton.jsx
  src/components/header/Header.jsx
  src/components/input/Input.jsx
  src/components/select/GhostSelect.jsx
  src/components/select/TagSelect.jsx
  src/components/table/EditableTable.jsx
  src/constants/app-config.js
  src/pages/electricity/ElectricityPage.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/HomePage.jsx
  src/pages/home/Overview.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
  src/pages/management/Goal.jsx
  src/pages/management/ManagementPage.jsx
  src/pages/overview/OverviewPage.jsx
  src/pages/unit-electricity/UnitElectricityPage.jsx
  src/pages/waste/WastePage.jsx
  src/pages/water/WaterPage.jsx
  src/router/routes.js
  tailwind.config.js
  yarn.lock
Due: setup

add carbon index and t-rec
  src/components/input/Input.jsx
  src/components/table/EditableTable.jsx
  src/pages/management/CarbonIndex.jsx
  src/pages/management/ManagementPage.jsx
  src/pages/management/Trec.jsx
Due: none

rename case
  src/services/renewableEnergy.js
Due: none

refactor table
  src/components/table/Table.jsx
  src/pages/carbon/CarbonPage.jsx
  src/pages/electricity/ElectricityPage.jsx
  src/pages/overview/OverviewPage.jsx
  src/pages/renewable-energy/RenewableEnergyPage.jsx
  src/pages/unit-electricity/UnitElectricityPage.jsx
  src/pages/waste/WastePage.jsx
  src/pages/water/WaterPage.jsx
Due: none

history search pages
  src/components/button/ButtonGroup.jsx
  src/components/select/Select.jsx
  src/components/tag/DualTag.jsx
  src/components/tag/Tag.jsx
  src/constants/app-config.js
  src/pages/carbon/CarbonPage.jsx
  src/pages/electricity/ElectricityPage.jsx
  src/pages/overview/OverviewPage.jsx
  src/pages/renewable-energy/RenewableEnergyPage.jsx
  src/pages/unit-electricity/UnitElectricityPage.jsx
  src/pages/waste/WastePage.jsx
  src/pages/water/WaterPage.jsx
  src/router/routes.js
  tailwind.config.js
Due: none

update dockerfile comment
  Dockerfile
Due: build:image

update chart grid
  src/pages/home/Carbon.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
Due: none

fix renewable energy precision
  src/pages/home/RenewableEnergy.jsx
Due: none

add management api
  src/__mocks__/get/settings/2020/objective/index.json
  src/__mocks__/get/settings/2021/objective/index.json
  src/app/store.js
  src/axios/helpers.js
  src/axios/index.js
  src/axios/interceptors.js
  src/components/select/Select.jsx
  src/components/select/TagSelect.jsx
  src/constants/app-config.js
  src/pages/home/HomePage.jsx
  src/pages/management/ManagementPage.jsx
  src/services/carbon.js
  src/services/electricity.js
  src/services/management.js
  src/services/renewableEnergy.js
  src/services/summary.js
  src/services/unitElectricity.js
  src/services/waste.js
  src/services/water.js
Due: none

summary api change
  .env
  src/components/header/Header.jsx
  src/components/select/GhostSelect.jsx
  src/components/table/EditableTable.jsx
  src/constants/app-config.js
  src/features/counter/Counter.jsx
  src/features/counter/Counter.module.css
  src/features/counter/counterAPI.js
  src/features/counter/counterSlice.js
  src/features/counter/counterSlice.spec.js
  src/logo.svg
  src/pages/home/Carbon.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/HomePage.jsx
  src/pages/home/RenewableEnergy.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
  src/pages/home/helpers.js
Due: none

management api
  src/app/store.js
  src/components/input/Input.jsx
  src/components/table/EditableTable.jsx
  src/pages/home/HomePage.jsx
  src/pages/management/CarbonIndex.jsx
  src/pages/management/Goal.jsx
  src/pages/management/ManagementPage.jsx
  src/services/carbon.js
  src/services/electricity.js
  src/services/management.js
  src/services/renewableEnergy.js
  src/services/summary.js
  src/services/unitElectricity.js
  src/services/waste.js
  src/services/water.js
  src/utils/formatter.js
  src/utils/number.js
Due: none

fix y max
  src/pages/home/Carbon.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
Due: none

layout adjustment
  src/components/header/Header.jsx
  src/pages/home/Carbon.jsx
  src/pages/home/Electricity.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/home/Waste.jsx
  src/pages/home/Water.jsx
Due: none

update version
  package.json
Due: setup

fix ratio formatter
  src/utils/formatter.js
Due: none

fix unit name
  src/__mocks__/get/overall/index.json
  src/pages/home/Overview.jsx
Due: none

fixed header select width
  src/components/header/Header.jsx
Due: none

add development api url
  .env.development
Due: none

add prod api url
  .env.production
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: setup

git ignore .env
  .env
  .gitignore
Due: none

update xl fontsize
  src/index.css
  tailwind.config.js
Due: none

add login page
  package.json
  public/login.png
  src/components/header/Header.jsx
  src/components/layout/Layout.jsx
  src/components/nav-bar/NavBar.jsx
  src/components/panel/Panel.jsx
  src/components/skeleton/HomeSkeleton.jsx
  src/components/skeleton/ManagementSkeleton.jsx
  src/pages/login/LoginPage.jsx
  src/router/PrivateRoute.jsx
  src/router/index.js
  src/router/routes.js
  yarn.lock
Due: setup

integrate keycloak
  public/keycloak.json
  src/app/store.js
  src/axios/helpers.js
  src/axios/index.js
  src/axios/interceptors.js
  src/components/nav-bar/NavBar.jsx
  src/index.js
  src/keycloak/KeycloakProvider.jsx
  src/keycloak/keycloak.js
  src/keycloak/keycloakSlice.js
  src/pages/login/LoginPage.jsx
  src/renderless/tab-title/TabTitle.jsx
  src/router/PrivateRoute.jsx
  src/router/index.js
Due: none

Path conditions:
  build:image: any of: Dockerfile
  setup: any of: package.json, yarn.lock
