Repository eco-ssot/eco-ssot.github.io: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:image, setup

build:image:
  stage: build:image
  image: docker:19.03.8
  services:
  - docker:19.03.8-dind
  before_script:
  - echo "$SSOT_USER_TOKEN" | docker login -u $SSOT_USER_NAME --password-stdin $CI_REGISTRY
  script:
  - docker pull $CI_REGISTRY_IMAGE:latest || true
  ...

setup:
  stage: setup
  script:
  - yarn install --network-timeout 1000000
  dependencies: []

update keycloak config
  public/keycloak.json
  src/components/header/Header.jsx
  src/components/layout/Layout.jsx
Due: none

add unauthorized page
  src/pages/Unauthorized/UnauthorizedPage.jsx
  src/router/PrivateRoute.jsx
Due: none

add docker build arg
  Dockerfile
  src/pages/Unauthorized/UnauthorizedPage.jsx
Due: build:image

add use info in management
  Dockerfile
  package.json
  src/pages/management/ManagementPage.jsx
  src/pages/unauthorized/UnauthorizedPage.jsx
  src/router/PrivateRoute.jsx
Due: build:image, setup

use on ready instead
  src/keycloak/KeycloakProvider.jsx
Due: none

update docker file comment
  Dockerfile
Due: build:image

update runner
  .gitlab-ci.yml
Due: none

deploy on tags
  .gitlab-ci.yml
Due: none

0.3.2
  .gitlab-ci.yml
  package.json
Due: setup

0.3.3
  .gitlab-ci.yml
  package.json
Due: setup

add logout
  src/pages/error/ErrorPage.jsx
  src/pages/management/ManagementPage.jsx
  src/router/PrivateRoute.jsx
  src/router/index.js
  src/router/routes.js
Due: none

0.4.0
  package.json
Due: setup

add quote
  .gitlab-ci.yml
Due: none

0.4.1
  package.json
Due: setup

fix login robot
  .gitlab-ci.yml
Due: none

0.4.2
  package.json
Due: setup

dont quote
  .gitlab-ci.yml
Due: none

fix dollar sign var
  .gitlab-ci.yml
  package.json
Due: setup

0.4.4
  package.json
Due: setup

deploy on branch tag
  .gitlab-ci.yml
  Dockerfile
Due: build:image

use commit tag
  .gitlab-ci.yml
Due: none

fix stage
  .gitlab-ci.yml
Due: none

fix branch name
  .gitlab-ci.yml
Due: none

0.4.5
  package.json
Due: setup

extend deploy stage
  .gitlab-ci.yml
Due: none

0.4.6
  package.json
Due: setup

refactor formatted number
  package.json
  src/utils/formatter.js
  src/utils/number.js
  yarn.lock
Due: setup

add version info
  src/components/header/Header.jsx
Due: none

update waste unit
  src/__mocks__/get/overall/index.json
  src/__mocks__/get/settings/2021/objective/index.json
  src/pages/home/Overview.jsx
  src/pages/home/Waste.jsx
  src/pages/waste/WastePage.jsx
Due: none

add custom cell
  package.json
  src/components/table/EditableTable.jsx
  src/pages/management/Goal.jsx
  src/utils/number.js
Due: setup

add 1k screen
  src/index.css
  tailwind.config.js
Due: none

mock keycloak
  package.json
  src/app/store.js
  src/components/header/Header.jsx
  src/index.js
  src/keycloak/KeycloakProvider.jsx
  src/keycloak/index.js
  src/keycloak/keycloak.js
  src/keycloak/keycloakSlice.js
  src/keycloak/useKeycloak.js
  src/pages/login/LoginPage.jsx
  src/pages/management/ManagementPage.jsx
  src/router/PrivateRoute.jsx
Due: setup

replace files when production
  .env.development
  .env.production
  Dockerfile
  craco.config.js
  src/axios/index.js
  src/axios/index.prod.js
  src/axios/interceptors.js
  src/axios/loggerInterceptor.js
  src/axios/mockInterceptor.js
  src/axios/tokenInterceptor.js
  src/keycloak/KeycloakProvider.jsx
  src/keycloak/index.js
  src/keycloak/index.prod.js
  src/keycloak/keycloak.js
  src/keycloak/useKeycloak.js
Due: build:image

add overview api
  .prettierrc.json
  package.json
  src/__mocks__/get/overall/compare.json
  src/__mocks__/get/overall/index.json
  src/app/store.js
  src/axios/index.js
  src/components/nav-bar/NavBar.jsx
  src/components/select/GhostSelect.jsx
  src/components/select/TagSelect.jsx
  src/constants/app-config.js
  src/keycloak/index.js
  src/pages/home/HomePage.jsx
  src/pages/overview/OverviewPage.jsx
  src/pages/water/WaterPage.jsx
  src/renderless/query-params/queryParamsSlice.js
  src/router/helpers.js
  src/services/overview.js
Due: setup

update prettier print width to 120
  src/components/button/ButtonGroup.jsx
  src/components/header/Header.jsx
  src/components/page-container/PageContainer.jsx
  src/components/panel/Panel.jsx
  src/components/select/GhostSelect.jsx
  src/components/select/Select.jsx
  src/components/select/TagSelect.jsx
  src/components/spinner/Spinner.jsx
  src/components/table/EditableTable.jsx
  src/components/tag/DualTag.jsx
  src/components/time-info/TimeInfo.jsx
  src/pages/carbon/CarbonPage.jsx
  src/pages/electricity/ElectricityPage.jsx
  src/pages/home/HomePage.jsx
  src/pages/home/Overview.jsx
  src/pages/home/RenewableEnergy.jsx
  src/pages/home/UnitElectricity.jsx
  src/pages/management/ManagementPage.jsx
  src/pages/management/Trec.jsx
  src/pages/overview/OverviewPage.jsx
  src/pages/renewable-energy/RenewableEnergyPage.jsx
  src/pages/unit-electricity/UnitElectricityPage.jsx
  src/pages/waste/WastePage.jsx
  src/pages/water/WaterPage.jsx
  src/router/PrivateRoute.jsx
  src/serviceWorker.js
  src/services/management.js
  src/services/weather.js
  src/utils/formatter.js
  src/utils/number.js
Due: none

adjust table layout
  src/__mocks__/get/carbon/index.json
  src/__mocks__/get/co2/history.json
  src/__mocks__/get/co2/index.json
  src/app/store.js
  src/components/button/ButtonGroup.jsx
  src/pages/home/HomePage.jsx
  src/pages/home/helpers.js
  src/pages/overview/OverviewPage.jsx
  src/services/carbon.js
  src/utils/date.js
  src/utils/table.js
Due: none

update max acc range logic
  .gitlab-ci.yml
  src/__mocks__/get/overall/index.json
  src/__mocks__/get/summary/index.json
  src/pages/home/HomePage.jsx
  src/pages/overview/OverviewPage.jsx
  src/utils/date.js
Due: none

0.4.7
  package.json
Due: setup

Path conditions:
  build:image: any of: Dockerfile
  setup: any of: package.json, yarn.lock
